<h1><%= @attraction.name %></h1>
<h2><%= @attraction.park %></h2>
<p><%= @attraction.notes %></p>
<img src="<%= @attraction.photo %>" alt ="attraction">
<form action="/attractions/<%= @attraction.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @attraction.user == current_user %>
         <button type="submit">Delete Attraction</button>
    <% end %>
</form>
